name: release

on:
  workflow_dispatch:
    inputs:
      kustomize_version:
        description: 'Tag to release kustomize'
        required: true
      libs_version:
        description: 'Tag to release libs'
        required: true

permissions:
  contents: write # Allow actions to push changes

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v5
    - name: Create a branch for the release
      run: |
        git config --global user.name 'github-actions'
        git config --global user.email 'actions@github.com'
        git config --global push.default current

        go tool gorepomod pre-release "${{ inputs.kustomize_version }}"

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version-file: go.work
      id: go

    - name: Release kyaml
      run: |
        make IS_LOCAL=true verify-kustomize-repo
        go tool gorepomod release kyaml ${{ inputs.libs_version }} --doIt
        ./releasing/create-release.sh kyaml/${{ inputs.libs_version }}
        go tool gorepomod pin kyaml --doIt
        git commit -m "Update kyaml to ${{ inputs.libs_version }}"
        git push --force

    - name: Release cmd/config
      run: |
        make IS_LOCAL=true verify-kustomize-repo
        go tool gorepomod release cmd/config ${{ inputs.libs_version }} --doIt
        ./releasing/create-release.sh cmd/config/${{ inputs.libs_version }}
        go tool gorepomod pin cmd/config --doIt
        git commit -m "Update cmd/config to ${{ inputs.libs_version }}"
        git push --force

    - name: Release api
      run: |
        make IS_LOCAL=true verify-kustomize-repo
        go tool gorepomod release api ${{ inputs.libs_version }} --doIt
        ./releasing/create-release.sh api/${{ inputs.libs_version }}
        go tool gorepomod pin api --doIt
        git commit -m "Update api to ${{ inputs.libs_version }}"
        git push --force

    - name: Release kustomize
      run: |
        make IS_LOCAL=true verify-kustomize-repo
        go tool gorepomod release kustomize ${{ inputs.kustomize_version }} --doIt
        ./releasing/create-release.sh kustomize/${{ inputs.kustomize_version }}

    - name: Push changes
      run: |
        git switch master
        git pull origin master
        sed -i "" "s/LATEST_RELEASE=.*/LATEST_RELEASE=${{ inputs.kustomize_version }}/" Makefile
        source ./releasing/helpers.sh
        createBranch bumpMakefile "Update LATEST_RELEASE to ${{ inputs.kustomize_version }}"
